<web-app>

<servlet>
<servlet-name>Add</servlet-name>
<servlet-class>com.servlet.AddProductServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Add</servlet-name>
<url-pattern>/AddProductServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Display</servlet-name>
<servlet-class>com.servlet.DisplayProductsServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Display</servlet-name>
<url-pattern>/DisplayProductsServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Update</servlet-name>
<servlet-class>com.servlet.UpdateProductServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Update</servlet-name>
<url-pattern>/UpdateProductServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Delete</servlet-name>
<servlet-class>com.servlet.DeleteProductServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Delete</servlet-name>
<url-pattern>/DeleteProductServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ReportCriteria</servlet-name>
<servlet-class>com.servlet.ReportCriteriaServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ReportCriteria</servlet-name>
<url-pattern>/ReportCriteriaServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Report</servlet-name>
<servlet-class>com.servlet.ReportServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Report</servlet-name>
<url-pattern>/ReportServlet</url-pattern>
</servlet-mapping>

</web-app>